* {
    font-family: monospace;
    font-size: 1.5rem;

    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    padding: 5px;

    width: 150px;
}

body {
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 30px;
    padding: 10px;
    width: 800px;
    /* background-color: yellow; */
}

#overlay-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 30px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay-heading {
    font-size: 1.8rem;
}

#overlay-content {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    margin-top: 50px;
}

.todo-form,
.input-bar,
.todo-container {
    width: 100%;
}

.todo-form {
    display: flex;
    flex-direction: column;

    gap: 30px;
}

.input-bar {
    display: flex;
}

.input-bar input[type=text] {
    width: 100%;
    padding: 5px 10px;
}

.input-bar input[type=text]::placeholder {
    font-style: italic;
}

.todo-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
}

.task-bar {
    display: flex;
    align-items: center;
    gap: 15px;
}

.task-bar input[type=checkbox] {
    transform:  scale(1.5);
    margin: 5px;
    cursor: pointer;
}

.task-bar p {
    width: 100%;
}